
body{
	background-color:palevioletred;
	height : 100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:70px;
	font-family:cursive;
}

.spread span{
	transition: all .3s ease-in-out;
	cursor:pointer;
	display:inline-block;
}

.spread span:hover{
	transform : translateY(-10px) scale(1.5) rotate(-10deg);
}