*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color:#17d4fe;
	background-color: #000;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.countDown{
	font-size: 65px;
	font-family: "Orbitron", sans-serif;
}